html {
    font-size: 62.5%;
}
#container {
    line-height: 2;
    font-size: 1.6em;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
    border: 4px solid #f1f1f1;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.chess-board {
    position: relative;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}
.chess-board .square {
    position: relative;
    float: left;
    box-sizing: border-box;
    height: 12.5%;
    width: 12.5%;
    background-color: #a0a0a0;
    border: 3px solid #a0a0a0;
    overflow: hidden;
}
.chess-board .square.is-light {
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}
.chess-board .square.is-contested {
    border-color: red;
}
.chess-board.is-dragging .square.is-valid::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    margin: auto;
    border-radius: 5px;
    background-color: blue;
    z-index: 2;
}
.chess-board.is-dragging .square.is-valid.is-hovered {
    border-color: yellow;
}
.chess-board.is-dragging .square.is-start {
    border-color: blue;
}
.chess-board .piece {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    color: #000;
    pointer-events: auto;
}
.chess-board .piece.is-opponent {
    pointer-events: none;
}
.chess-board.is-opponent-turn .piece {
    pointer-events: none;
}
.chess-board.is-opponent-turn .piece.is-opponent {
    pointer-events: auto;
}
.chess-board .piece.is-white {
    color: #fff;
}

.chess-board .promotion {
    background-color: #d0d0d0;
    box-shadow: 0 0 3px #000;
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    height: 20%;
    z-index: 5;
}
.chess-board .promotion.is-hidden {
    display: none;
}
.chess-board .promotion .choice {
    position: relative;
    float: left;
    margin: 5% 2.5%;
    width: 20%;
}
.chess-board .promotion .choice:hover {
    background-color: #aaa;
}
.chess-board .promotion .piece {
    pointer-events: auto;
    cursor: pointer;
    margin: auto;
}
